/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */.root {
	-fx-body-color : #9f7656;
	-fx-outer-border : #9f7656;
}
.button:focused, .toggle-button:focused,
.split-menu-button:focused, .menu-button:focused,
.number-button:focused,
.combo-box:focused .text-field, .choice-box:focused, .color-picker:focused, .date-picker:focused .text-field
{
	-fx-effect: dropshadow(gaussian, #ddc9bb, 3, 3, 0, 0);
}
.combo-box:focused * {
	-fx-effect: none;
}

.button,.menu-button,.toggle-button,.split-menu-button {
	-fx-font-size: 14;
	-fx-background-radius: 4;
	-fx-border-radius: 4;
	-fx-pref-height: 30;
	-fx-min-width: 30;
}
.button,.menu-button,.split-menu-button,.toggle-button,.number-button {
	-fx-background-insets: 0, 0, -1, 0;
}

.split-menu-button > .label {
	-fx-border-radius: 4 0 0 4;
	-fx-background-radius: 3 0 0 3;
}

.split-menu-button > .arrow-button {
	-fx-border-radius: 0 4 4 0;
	-fx-background-radius: 0 3 3 0;
}

.lg {
	-fx-min-height: 46;
	-fx-max-height: 46;
	-fx-font-size: 18;
}

.sm {
	-fx-min-height: 30;
	-fx-max-height: 30;
}

.xs {
	-fx-min-height: 22;
	-fx-max-height: 22;
	-fx-font-size: 10;
}

.primary .arrow,
.success .arrow,
.info .arrow,
.warning .arrow,
.danger .arrow {
	-fx-background-color: transparent, #9f7656;
}

.primary > .label,
.success > .label,
.info > .label,
.warning > .label,
.danger > .label {
	-fx-text-fill: #ddc9bb;
}

.action-btn {
	-fx-min-width: 80;
}

/*positions*/
/*first*/
.button.first, .menu-button.first, .toggle-button.first, .text-field.first, .text-area.first {
	-fx-border-radius: 4 0 0 4;
	-fx-background-radius: 4 0 0 4;
}

.split-menu-button.first > .arrow-button, .split-menu-button.middle > .arrow-button {
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

VBox > .button.first,
VBox > .menu-button.first,
VBox > .toggle-button.first,
VBox > .split-menu-button.first,
VBox > .text-field.first,
VBox > .text-area.first {
	-fx-border-radius: 4 4 0 0;
	-fx-background-radius: 4 4 0 0;
}

VBox > .split-menu-button.first > .label {
	-fx-border-radius: 4 0 0 0;
	-fx-background-radius: 3 0 0 0;
}
VBox > .split-menu-button.first > .arrow-button {
	-fx-border-radius: 0 4 0 0;
	-fx-background-radius: 0 3 0 0;
}
/*middle*/
.middle {
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

/*last*/
.split-menu-button.middle > .label, .split-menu-button.last > .label {
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

.split-menu-button.last {
	-fx-border-radius: 0 4 4 0;
	-fx-background-radius: 0 4 4 0;
}

.button.middle, .text-field.middle, .text-area.middle, .split-menu-button.middle, .toggle-button.middle {
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

.button.last, .text-field.last, .text-area.last, .split-menu-button.last, .toggle-button.last, .menu-button.last {
	-fx-border-radius: 0 4 4 0;
	-fx-background-radius: 0 4 4 0;
}
VBox > .button.last,
VBox > .menu-button.last,
VBox > .toggle-button.last,
VBox > .split-menu-button.last,
VBox > .text-field.last,
VBox > .text-area.last {
	-fx-border-radius: 0 0 4 4;
	-fx-background-radius: 0 0 4 4;
}

VBox > .split-menu-button.last > .label {
	-fx-border-radius: 0 0 0 4;
	-fx-background-radius: 0 0 0 3;
}
VBox > .split-menu-button.last > .arrow-button {
	-fx-border-radius: 0 0 4 0;
	-fx-background-radius: 0 0 3 0;
}

/*button styles*/

/*default button settings*/

/*bgcolor setting*/
.color-picker,.date-picker > .arrow-button,
.number-button,.left-arrow-button,.right-arrow-button,
.button,.split-menu-button,.toggle-button,.menu-button,
.font-menu-button, .split-menu-button > .label, .split-menu-button > .arrow-button {
	-fx-background-color: #9f7656;
}

.color-picker,.date-picker > .arrow-button,
.button,.menu-button,.toggle-button,.number-button,.left-arrow-button,.right-arrow-button,
.font-menu-button,
.split-menu-button > .label,.split-menu-button > .arrow-button {
	-fx-border-color: #9f7656;
	-fx-text-fill: #ddc9bb;
}
	/*just for the special split menu button*/
.split-menu-button > .label {
	-fx-border-width: 1 0 1 1;
}
	/*for date picker arrow button*/
.date-picker > .arrow-button {
	-fx-border-radius: 0 4 4 0;
}
.combo-box > .arrow-button, .choice-box > .arrow-button {
	-fx-border-width: 0;
}
	/*hover state*/
.color-picker:hover,
.date-picker:hover > .arrow-button,
.combo-box:hover,.choice-box:hover,
.number-button:hover,.left-arrow-button:hover,.right-arrow-button:hover,
.button:hover,.menu-button:hover,.toggle-button:hover,
.font-menu-button:hover,
.split-menu-button > .label:hover, .split-menu-button > .arrow-button:hover {
	-fx-background-color: #9f7656;
	-fx-border-color: #acacac;
}
	/*pressed selected*/
.color-picker:pressed,.color-picker:selected,
.number-button:pressed,.number-button:selected,
.date-picker:pressed > .arrow-button,
.combo-box:pressed > .arrow-button,.combo-box:selected > .arrow-button,
.choice-box:pressed > .arrow-button,.choice-box:selected > .arrow-button,
.font-menu-button:pressed,.font-menu-button:selected,
.left-arrow-button:pressed,.left-arrow-button:selected,
.right-arrow-button:pressed,.right-arrow-button:selected,
.button:pressed, .button:selected,.menu-button:pressed,.menu-button:selected
,.toggle-button:pressed,.toggle-button:selected,
.split-menu-button:pressed > .label, .split-menu-button > .arrow-button:pressed {
	-fx-background-color: #9f7656;
	-fx-border-color: #ddc9bb;
	-fx-effect: innershadow(gaussian, #ddc9bb, 10, 0, 0, 3);
}

	/*primary*/

.button.primary,.split-menu-button.primary,.toggle-button.primary,.menu-button.primary,
.split-menu-button.primary > .label, .split-menu-button.primary > .arrow-button {
	-fx-background-color: #7e918d;
}

.button.primary,.menu-button.primary,.toggle-button.primary,
.split-menu-button.primary > .label,.split-menu-button.primary > .arrow-button {
	-fx-border-color: #7e918d;
	-fx-text-fill: #ddc9bb;
}
/*hover state*/
.button.primary:hover,.menu-button.primary:hover,.toggle-button.primary:hover,
.split-menu-button.primary > .label:hover, .split-menu-button.primary > .arrow-button:hover {
	-fx-border-color: #7e918d;
	-fx-background-color: #7e918d;
}
/*pressed selected*/
.button.primary:pressed, .button.primary:selected,
.menu-button.primary:pressed,.menu-button.primary:selected
,.toggle-button.primary:pressed,.toggle-button.primary:selected,
.split-menu-button.primary:pressed > .label, .split-menu-button.primary > .arrow-button:pressed {
	-fx-background-color: #7e918d;
	-fx-border-color: #7e918d;
	-fx-effect: innershadow(gaussian, #7e918d, 10, 0, 0, 3);
}

/*success*/

.button.success,.split-menu-button.success,.toggle-button.success,.menu-button.success,
.split-menu-button.success > .label, .split-menu-button.success > .arrow-button {
	-fx-background-color: #a36e61;
}

.button.success,.menu-button.success,.toggle-button.success,
.split-menu-button.success > .label,.split-menu-button.success > .arrow-button {
	-fx-border-color: #be8172;
	-fx-text-fill: #ddc9bb;
}
/*hover state*/
.button.success:hover,.menu-button.success:hover,.toggle-button.success:hover,
.split-menu-button.success > .label:hover, .split-menu-button.success > .arrow-button:hover {
	-fx-border-color: #be8172;
	-fx-background-color: #ce573a;
}
/*pressed selected*/
.button.success:pressed, .button.success:selected,
.menu-button.success:pressed,.menu-button.success:selected
,.toggle-button.success:pressed,.toggle-button.success:selected,
.split-menu-button.success:pressed > .label, .split-menu-button.success > .arrow-button:pressed {
	-fx-background-color: #ce573a;
	-fx-border-color: #be8172;
	-fx-effect: innershadow(gaussian, #be8172, 10, 0, 0, 3);
}

/*info*/

.button.info,.split-menu-button.info,.toggle-button.info,.menu-button.info,
.split-menu-button.info > .label, .split-menu-button.info > .arrow-button {
	-fx-background-color: #526f7c;
}

.button.info,.menu-button.info,.toggle-button.info,
.split-menu-button.info > .label,.split-menu-button.info > .arrow-button {
	-fx-border-color: #5b7f90;
	-fx-text-fill: #ddc9bb;
}
/*hover state*/
.button.info:hover,.menu-button.info:hover,.toggle-button.info:hover,
.split-menu-button.info > .label:hover, .split-menu-button.info > .arrow-button:hover {
	-fx-border-color: #5b7f90;
	-fx-background-color: #428aaa;
}
/*pressed selected*/
.button.info:pressed, .button.info:selected,
.menu-button.info:pressed,.menu-button.info:selected
,.toggle-button.info:pressed,.toggle-button.info:selected,
.split-menu-button.info:pressed > .label, .split-menu-button.info > .arrow-button:pressed {
	-fx-background-color: #428aaa;
	-fx-border-color: #5b7f90;
	-fx-effect: innershadow(gaussian, #5b7f90, 10, 0, 0, 3);
}

/*warning*/

.button.warning,.split-menu-button.warning,.toggle-button.warning,.menu-button.warning,
.split-menu-button.warning > .label, .split-menu-button.warning > .arrow-button {
	-fx-background-color: #778a88;
}

.button.warning,.menu-button.warning,.toggle-button.warning,
.split-menu-button.warning > .label,.split-menu-button.warning > .arrow-button {
	-fx-border-color: #809e9b;
	-fx-text-fill: #ddc9bb;
}
/*hover state*/
.button.warning:hover,.menu-button.warning:hover,.toggle-button.warning:hover,
.split-menu-button.warning > .label:hover, .split-menu-button.warning > .arrow-button:hover {
	-fx-border-color: #809e9b;
	-fx-background-color: #669a96;
}
/*pressed selected*/
.button.warning:pressed, .button.warning:selected,
.menu-button.warning:pressed,.menu-button.warning:selected
,.toggle-button.warning:pressed,.toggle-button.warning:selected,
.split-menu-button.warning:pressed > .label, .split-menu-button.warning > .arrow-button:pressed {
	-fx-background-color: #669a96;
	-fx-border-color: #809e9b;
	-fx-effect: innershadow(gaussian, #809e9b, 10, 0, 0, 3);
}

/*danger*/

.button.danger,.split-menu-button.danger,.toggle-button.danger,.menu-button.danger,
.split-menu-button.danger > .label, .split-menu-button.danger > .arrow-button {
	-fx-background-color: #b49779;
}

.button.danger,.menu-button.danger,.toggle-button.danger,
.split-menu-button.danger > .label,.split-menu-button.danger > .arrow-button {
	-fx-border-color: #b3a79a;
	-fx-text-fill: #ddc9bb;
}
/*hover state*/
.button.danger:hover,.menu-button.danger:hover,.toggle-button.danger:hover,
.split-menu-button.danger > .label:hover, .split-menu-button.danger > .arrow-button:hover {
	-fx-border-color: #b3a79a;
	-fx-background-color: #c78d50;
}
/*pressed selected*/
.button.danger:pressed, .button.danger:selected,
.menu-button.danger:pressed,.menu-button.danger:selected
,.toggle-button.danger:pressed,.toggle-button.danger:selected,
.split-menu-button.danger:pressed > .label, .split-menu-button.danger > .arrow-button:pressed {
	-fx-border-color: #b3a79a;
	-fx-background-color: #c78d50;
	-fx-effect: innershadow(gaussian, #b3a79a, 10, 0, 0, 3);
}
.tab-pane .tab-header-area .tab .tab-label {
	-fx-text-fill: #ddc9bb;
}

.tab-pane .tab-header-area .tab:hover {
	-fx-background-color: #eeeeee;
}
.tab-pane .tab-header-area .tab:disabled:hover {
	-fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab:selected {
	-fx-focus-color: transparent;
	-fx-border-color: #9f7656 #9f7656 #9f7656 #9f7656;
	-fx-background-color: #9f7656;
}
.tab-pane .tab-header-area .tab:selected .tab-label {
	-fx-text-fill: #ddc9bb;
}
.tab-pane > .tab-content-area {
	-fx-background-color: #9f7656;
}

.tab-pane .tab-header-area .tab .tab-label {
	-fx-focus-color: transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
	-fx-border-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
	-fx-background-color: #7e918d;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-close-button {
	-fx-background-color: #ddc9bb;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
	-fx-background-color: red;
	-fx-cursor: hand;
}
.menu-bar {
	-fx-background-color: #9f7656;
}
.menu-bar > .container > .menu-button {
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-border-width: 0;
	-fx-border-radius: 0;
}
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:showing {
	-fx-background-color: #9f7656;
}

.color-palette {
	-fx-background-color: #9f7656;
}

/*table view columns*/
.filler,.column-header,.show-hide-columns-button {
	-fx-background-color: #bbb6b1, #bba498, #bba498;
}
.column-header:hover,.show-hide-columns-button:hover {
	-fx-background-color: #bbb6b1, #bba498, #bbb6b1;
}
.column-header-background > .filler {
	-fx-border-color: transparent #9f7656 transparent transparent;
	-fx-border-insets: 0 1 0 0;
}
.column-drag-header {
	-fx-background-color: #9f7656;
}

